include LICENSE
include MANIFEST.in
include README.md
include pyproject.toml
include core/statutor_core.py
include core/statutor_doctor.py
include core/statutor_global.py
include core/statutor_global_cli.py
prune tests
global-exclude __pycache__ *.py[cod]
